@use '../../../styles/utils.scss';
@use '../../../styles/media.scss';

.carousel-container {
  @include utils.flex(column, center, center);
  gap: 1rem;
  height: 25vh;
  max-width: calc(100vw - 2rem);

  @include media.desktop {
    height: 500px;
    max-width: 1024px;
  }
}

.carousel {
  @include utils.flex(row, center, space-between);
  gap: 0.2rem;
  height: 100%;
  width: 100%;

  &__arrow-btn {
    width: 2rem;
    height: 2rem;
    display: none;
    color: var(--faint-strong);

    &:hover {
      color: var(--base-strong);
    }

    @include media.desktop {
      display: block;
    }
  }
}

.autoscroll-btn {
  width: 252px;
}
