@use '../../../styles/utils.scss';

.h1 {
  color: inherit;
  @include utils.font(4.5rem, 700, 4.5rem);
}

.h2 {
  color: inherit;
  @include utils.font(3.75rem, 700, 3.75rem);
}

.h3 {
  color: inherit;
  @include utils.font(3rem, 700, 3rem);
}

.h4 {
  color: inherit;
  @include utils.font(2.25rem, 700, 2.25rem);
}

.h5 {
  color: inherit;
  @include utils.font(1.875rem, 700, 2.25rem);

}

.h6 {
  color: inherit;
  @include utils.font(1.25rem, 700, 1.5rem);
}
