@use '../../../styles/utils.scss';

.pagination-container {
  @include utils.flex(row, center, center);
  margin-bottom: 1rem;
  gap: 0.4rem;
}

.point {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--faint-weak);
  transition: all 0.2s ease;

  &__filled {
    transform: scale(1.4);
    background: var(--base-strong);
  }
}
